@font-face {
  font-family: 'Montserrat';
  src: url('font/MONTSERRAT-BOLD.TTF') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('font/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('font/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('font/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'UNISANS';
  src: url('font/OFONT.RU_UNI\ SANS.TTF') format('truetype');
  font-style: normal;
  font-display: swap;
}
*{
  margin: 0%;
  box-sizing: border-box;
}


.main_button{
  border: none;
  border-radius: 30px;
  font-family: 'Montserrat';
  font-size: 17px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
  background-color: #AEB6BA;
  width: 360px;
  padding: 10px 15px;
}
.form_button{
  border: none;
  border-radius: 30px;
  font-family: 'Montserrat';
  font-size: 17px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
  background-color: #AEB6BA;
  width: 100%;
  padding: 10px 15px;
  margin-top: 10px;
}
.form_button_back{
  border: solid 1px #9FB2AC;
  border-radius: 30px;
  font-family: 'Montserrat';
  font-size: 17px;
  font-weight: 700;
  color: #9FB2AC;
  text-align: center;
  background-color: #fff;
  width: 100%;
  padding: 10px 15px;
}
.Google_btn{
  height: 50px;
  width: 100%;
  display: flex;
  border: solid 1px  rgba(139, 146, 149, 0.5);
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 10px 18px ;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 600;
  color: #8B9295;
}


main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(img/fon_main.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.box-content{
  display: flex;
  border-radius: 56px;
  background: #FFFFFF;
  justify-content: space-between;
  width: 1200px;
  height: 692px;
}
.aut{
  padding: 10px  10px 10px  60px ;
}
.reg{
  padding: 10px  60px 10px  10px ;
}
.contaner_page{
  width: 700px;
  height: 100%;
  background: url(img/fon_cont.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  gap: 32px;
}
.cont_header{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
h1{
  font-family: 'UNISANS';
  font-size: 40px;
  color: #FFFFFF;
  text-align: center;
}
p{
  font-family: 'Montserrat';
  font-size: 20px;
  font-weight: 500;
  color: #FFFFFF;
  text-align: center;
}


.container{
  width: 360px;
  height: 100%;
  padding-top:  20px ;
}
.cards{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
h2{
  font-family: 'UNISANS';
  font-size: 40px;
  color: #7F8E8A;
  text-align: center;
}
form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.form-group{
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100%;
}
label{
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 400;
  color: #000;
  margin-left: 15px;
}
input{
  width: 100%;
  height: 50px;
  border: none !important;
  background: #F2F2F2;
  border-radius: 30px;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(159, 178, 172, 0.5);
  -moz-box-shadow: 0px 4px 10px 0px rgba(159, 178, 172, 0.5);
  box-shadow: 0px 4px 10px 0px rgba(159, 178, 172, 0.5);
  padding: 10px 15px ;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 400;
  color: #000;
  outline:none;
  margin-top: 4px;
}
input:focus{
  transform: scale(1.02);
}
input::placeholder{
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 400;
  color: #767676;
}
.error-message{
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 400;
  color: #9D2121;
  margin-left: 12px;
}
.or_other{
  display: flex;
  width: 100%;
  gap: 14px;
  align-items: center;
}
.or_other p{
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 400;
  color: #AAAAAA;
}
.solid{
  background-color: #AAAAAA;
  width: 100%;
  height: 1px;
}

.card{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 360px;
  padding: 0 20px;
  justify-content: space-between;
}

.card_cont{
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  width: 100%;
}
.subtitle{
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 400;
  color: #000;
  text-align: center;
}
.code-inputs{
  display: flex;
  gap: 40px;
}
.code-input{
  width: 40px;
  height: 40px;
  border: none !important;
  background: #F2F2F2;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(159, 178, 172, 0.5);
  -moz-box-shadow: 0px 4px 10px 0px rgba(159, 178, 172, 0.5);
  box-shadow: 0px 4px 10px 0px rgba(159, 178, 172, 0.5);
  padding: 10px 15px ;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 400;
  color: #000;
  outline:none;
  margin-top: 4px;
}
.code-input:focus{
  transform: scale(1.02);
}
.code-input::placeholder{
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 400;
  color: #767676;
}
.buttons{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.card {
  animation: slideIn 0.5s ease;
}


input {
  transition: all 0.3s;
}


.hidden {
  display: none;
  animation: fadeOut 0.3s ease;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.95);
  }
}

#codePage:not(.hidden) {
    animation: scaleIn 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@media (max-width: 1024px) {
  .box-content{
    width: 844px;
    height: 594px;
  }
  .aut{
    padding: 10px  10px 10px  40px ;
  }
  .reg{
    padding: 10px  40px 10px  10px ;
  }
  .contaner_page{
    width: 382px;
    height: 100%;
  }
  .cont_header{
    gap: 5px; 
  }
  h1{
    font-size: 28px;
  }
  p{
    font-size: 14px;
  }
  .main_button{
    font-size: 14px;
    width: 284px;
    padding: 8px 15px;
  }
  .form_button{
    font-size: 14px;
    padding: 8px 15px;
  }
  .form_button_back{
    font-size: 14px;
    padding: 8px 15px;
  }
  .cards{
    gap: 0px;
  }
  h2{
    font-size: 28px;
  }
  .form-group{
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 100%;
  }
  label{
    font-size: 12px;
  }
  input{
    height: 40px;
    font-size: 11px;
  }

  input::placeholder{
    font-size: 11px;
  }
  .error-message{
    margin-left: 11px;
  }

  .or_other p{
    font-size: 14px;
  }
  .subtitle{
    font-size: 16px;
  }
}

@media (max-width: 768px) {
}